.profileImageIconBig {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    object-fit: cover;
}

.profileImageIconMedium {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.profileImageIconSmall {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.imageForPost {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}