.postCardContainer {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
}

.postCommentsContainer {
    margin-left: 5%;
    border-radius: 10px;
    color: black;
}

.commentInputField {
    border-radius: 10px;
    width: 400px;
}
.deleteCommentMenuItem {
    color: red;
    font-size: 14px;
    align-content: center;
}
.editCommentMenuItem {
    color: darkblue;
    font-size: 14px;
    align-content: center;
}

